@page "/about"

<PageTitle>Sobre nosotros</PageTitle>

<div class="container">
    <h1>Sobre nosotros</h1>

    <div class="d-flex justify-content-between align-items-center hv-90">
        <div class="w-50 mx-3 px-3 text-center">
            <img src="../josue.jpeg" alt="Imagen de Jose Almando" class="img-fluid img-h" />
            <h3 class="pt-4">Josue Pujols</h3>
            <h6>2021 - 0108</h6>
        </div>
        <div class="w-50 mx-3 px-3 text-center">
            <img src="../jose almando.jpg" alt="Imagen de Jose Almando" class="img-fluid img-h" />
            <h3 class="pt-4">José Almando Dominique</h3>
            <h6>2021 - 1093</h6>
        </div>
    </div>

</div>


@code {


}

<style>

    .hv-90 {
        height: 80vh;
    }

    .img-h{
        height: 450px;
    }
</style>