@using SellPoint.Presentation.WebClient.Components
@inherits LayoutComponentBase
@inject StateContainer localStorage
@page "/login"

<PageTitle>SellPoint</PageTitle>

@if(localStorage.user is null)
{
    <Login></Login>
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <div class="top-row px-4">
           
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(localStorage.user);
    }
}
