@using SellPoint.Presentation.WebClient.Components
@inherits LayoutComponentBase
@page "/login"

<PageTitle>Iniciar Sesion</PageTitle>

<div class="d-flex justify-content-center">
    <Login></Login>
</div>

@Body

@code {

}
